.job-common-violations-container {
  background-color: var(--input-bg);
  border: 2px solid;
  border-color: var(--border-color);
  border-radius: var(--radius-md);
  padding: 0.75rem 1rem;
}

.job-common-violations-container p {
  font-size: var(--fs-body);
}
