.map-compliance-graph {
  width: 100%;
  max-width: 700px;
  height: 280px;
  margin-top: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .map-compliance-graph {
    max-width: 600px;
    height: 230px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .map-compliance-graph {
    max-width: 820px;
    height: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .map-compliance-graph {
    max-width: 920px;
    height: 380px;
  }
}
